################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetmqRouter/.vs
/NetmqRouter/NetmqRouter.Tests/obj/Debug
/NetmqRouter/NetmqRouter/bin/Debug/netstandard2.0
/NetmqRouter/packages
/NetmqRouter/NetmqRouter.Tests/bin/Debug
/NetmqRouter/NetmqRouter/obj
/NetmqRouter/Playground/obj/Debug
/NetmqRouter/Playground/bin/Debug
/NetmqRouter/.idea/.idea.NetmqRouter
/NetmqRouter/.idea/.idea.MessageRouter
/NetmqRouter/MessageRouter/bin/Release
/NetmqRouter/MessageRouter/obj
/NetmqRouter/MessageRouter.Tests/bin/Release
/NetmqRouter/MessageRouter.Tests/obj
/MessageRouter/.vs/MessageRouter/v15
/MessageRouter/MessageRouter/bin/Debug
/MessageRouter/MessageRouter/obj
/MessageRouter/MessageRouter.Json/obj
/MessageRouter/MessageRouter.NetMQ/bin/Debug
/MessageRouter/MessageRouter.NetMQ/obj
/MessageRouter/MessageRouter.Tests/bin/Debug
/MessageRouter/MessageRouter.Tests/obj/Debug
/MessageRouter/MessageRouter.Xml/bin/Debug
/MessageRouter/MessageRouter.Xml/obj
/MessageRouter/packages
/MessageRouter/MessageRouter.Json/bin/Debug
/MessageRouter/MessageRouter/bin/Release
/MessageRouter/MessageRouter.Xml/bin/Release/netstandard1.3
/MessageRouter/MessageRouter.Tests/bin/Release
/MessageRouter/MessageRouter.Json/bin/Release/netstandard1.3
/MessageRouter/MessageRouter.NetMQ/bin/Release/netstandard1.5
/MessageRouter/MessageRouter.Tests/obj/Release
/MessageRouter/MessageRouter.Json/bin/Release
/MessageRouter/MessageRouter.NetMQ/bin/Release
/MessageRouter/MessageRouter.Xml/bin/Release
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
/.vs
/MessageRouter/.idea/.idea.MessageRouter
